<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
<section>
<div class="card ml-3 mr-3">
	<div class="card-body" th:if="${contact_detail}">
	 <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
 			 <p class="text-center" th:text="${session.message.content}"></p>
 			 <th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
		<div class="container text-center">
		<img th:src="@{'/images/'+${contact_detail.image}}" style="height:200px;width:200px" class="profile_pic" alt="profile-pic" />
		<h3 th:text="${contact_detail.name}+' '+'('+${contact_detail.secondName}+')'"></h3>
		<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col" th:text="'SCM'+${contact_detail.cId}"></th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" >Email</th>
      <td th:text="${contact_detail.email}"></td>
      
    </tr>
     <tr>
      <th scope="row">Phone</th>
      <td th:text="${contact_detail.phone}"></td>
      
    </tr>
    
     <tr>
      <th scope="row">Work</th>
      <td th:text="${contact_detail.work}"></td>
      
    </tr>
    
  </tbody>
</table>
<div class="description mt-2">
<h5 th:text="${contact_detail.description}"></h5>
</div>
<div class="container mt-3">
<!-- direct without using sweetalert => google it -->
      <!-- <a th:href="@{'/user/delete/'+${contact_detail.cId}}" class="btn btn-danger btn-sm">Delete</a> -->
      <!-- with using sweetAlert refer the js script and cdn written in base.html file and calling the function on click over here -->
      <a href="#" th:onclick="|deleteContact(${contact_detail.cId})|" class="btn btn-danger btn-sm">Delete</a>
      <a th:href="@{'/user/update-contact/'+${contact_detail.cId}}" class="btn btn-success btn-sm">Update</a>
</div>
		
		
		</div>
	</div>
	<div class="container text-center" style="padding:1%; color:red;" th:if="!${contact_detail}">
	<h3>You are not Authorized to excess this contact data.</h3>
	</div>
</div>

</section>
	
</body>
</html>